*{
    margin: 0;
}

body{
    height: 100%;
}

header{
    background: #4710c1;
    color: #fff;
    font-size: 22px;
    width: 100%;
    height: 46px;
    font-family: sans-serif;
    padding: 20px 0;
}



header div{
   width: 100%; 
   max-width: 1024px;
   margin: 0 auto;
}

header span{
    margin: 0 30px;
}

header a{
    color: #4710c1;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 6px;
    padding: 7px 15px;
    border-radius: 20px;
    position: relative;
    right: -38rem;
}

header a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #003;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


header a:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    
}

img{
    width: 100%;
}

.secao{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.secao h2{
    font-family: sans-serif;
    text-align: center;
    margin: 30px 0;
}

.secao p{
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin: 12px 0;
}

.secao img{
    width: 100%;
    border: 5px solid;
}

.secao a{
    color: orangered
}

.galeria{
    display: flex;
    overflow-x: scroll;
    margin: 0 auto 20px auto;
    opacity: 1.0;
}

.galeria img{
    width: 315px;
    margin: 10px;
    opacity: 1.0;
}

.imagem-sombra{
    box-shadow: 10px 10px 10px #939393;
}

.informacao{
    margin: 15px 0;
}

footer{
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    background-color: #4710c1;
    color: #fff;
    padding: 12px 0;
}

main{
    background: url('../images/background-image.webp') fixed ;
    z-index: auto;
    opacity: 1.0;
    
}

p{
    color: darkorange;
}

h2{
    color: goldenrod;
    border-bottom: 5px solid;
    border-top: 5px solid;
    padding: 5px;
}

